.text-field {
    -fx-background-color: #185cd5;
    -fx-background-insets: 0, 1 1 1 1 ;
    -fx-background-radius: 5 ;
    -fx-text-fill:white;
}
.text-field:focused {
    -fx-border-color: white ;
    -fx-background-color: #185cd5;

}

